<h1>Shopping list</h1>

<table class="food-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% @user_foods.each do |food| %>
      <tr>
        <td><%= link_to food.name, food_path(food), class: 'food-name' %></td>
        <td><%= food.quantity %> <%= food.measurement_unit %></td>
        <td>$<%= food.price * food.quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="food-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>
  
  <tbody>
    <% @all_recipe_foods.each do |recipe_food| %>
      <tr>
        <td><%= recipe_food.food.name %></td>
        <td><%= recipe_food.quantity %> <%= recipe_food.food.measurement_unit %></td>
        <td>$ <%= recipe_food.quantity * recipe_food.food.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>
