<h1>General Shopping List</h1>

<table class="food-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Missing Quantity</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <ul class="shopping-list-head">
      <li><strong>Amount of foods items to buy: <%= @missing_foods.length %></strong></li>
      <li><strong>Total value of food needed: <strong>$<%= @missing_foods.sum { |missing_food| missing_food[:food].price * missing_food[:missing_quantity] } %></strong></li>
    </ul>

    <% @missing_foods.each do |missing_food| %>
      <tr>
        <td><%= link_to missing_food[:food].name, food_path(missing_food[:food]), class: 'food-name' %></td>
        <td><%= missing_food[:missing_quantity] %></td>
        <td>$<%= missing_food[:food].price * missing_food[:missing_quantity] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
