
    
    <div class="recipe-details-container">
   <div class="recipe-details">
    <p>Preparation time: <strong><%= recipe.preparation_time %> hours</strong></p>
    <p>Cooking time: <strong><%= recipe.cooking_time %> hours</strong></p>
    <p><%= link_to "Steps go here...", recipe_path(recipe) %></p>
    </div>
   <%= render partial: 'recipes/public_toggle', locals: { recipe: recipe }, class:"button-toggle" %>  

    </div>
    <div class="btn-container">
    <%= link_to "Generate shopping list", shopping_list_index_path, class:"button"%>
    <%= link_to "Add ingredient", new_recipe_food_path(recipe_id: @recipe.id), class:"button"%>
    </div>



