<h2 class="custom-heading">Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, class: "custom-label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "custom-input" %>
  </div>

  <div class="actions custom-actions">
    <%= f.submit "Send me reset password instructions", class: "custom-submit" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
