<h1>Food list</h1>

<table class="food-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Measurement Unit</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= link_to food.name, food_path(food), class: 'food-name' %></td>
        <td><%= food.measurement_unit %></td>
        <td><%= food.price %></td>
        <td><%= food.quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p class="new-food"><%= link_to 'New Food', new_food_path, class: 'btn btn-success' %></p>
