<section>
<div class="form">
<h1>Editing: <%= @recipe_food.food.name %></h1>
<div>
    <%= form_with model: @recipe_food, url: recipe_food_path(@recipe_food), class: "form-container", method: :patch do |f| %>
        
        <div class="field">
            <%= f.label :quantity, style: "display: block" %>
            <%= f.text_field :quantity, min: 0 %>
        </div>
        <div class="field">
            <%= f.submit 'Submit' %>
        </div>
    <% end %>
</div>

<br>

<div>
  <%= link_to "Back", @recipe_food.recipe , class:"button"%> 
</div>
</div>
</section>

