<!DOCTYPE html>
<html>
  <head>
    <title>Capstone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <ul>
        <li><%= link_to 'Foods', root_path, class: 'function_link' %></li>
        <li><%= link_to 'Shopping List', shopping_list_index_path, class: 'function_link' %></li>
        <li><%= link_to 'Public Recipes', public_recipes_path, class: 'function_link' %></li>
        <li><%= link_to 'Recipes', recipes_path, class: 'function_link' %></li>
        
        <% if user_signed_in? %>
          <li><%= button_to 'Sign out', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <ul>
            <li><%= link_to 'Sign up', new_user_registration_path, class: 'function_link' %></li>
            <li><%= link_to 'Sign in', new_user_session_path, class: 'function_link' %></li>
          </ul>          
        <% end %>
      </ul>
    </nav>    
    <%= yield %>
  </body>
</html>
